<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogDirectory" value="D:\logs\" />
    <add key="isLoggingOn" value="True"/>
    <add key="SPUsername" value="admin@MSTND304322.onmicrosoft.com"/>
    <add key="SPPassword" value="ms!Demos365"/>
    <add key="SPSiteCollectionFileLocation" value="d:\Logs\SiteURL.txt"/>
    <add key="SPWeboutputFileWithPath" value="d:\Logs\output.txt"/>
    <add key="doSPCredentialCheck" value="False"/>
    <add key="isSPO" value="True"/>
    <add key="PSSQLFileLocation" value="D:\logs\IIS\SQL"/>
    <add key="PSScriptLocation" value="D:\logs\IIS\GeneratedScripts"/>
    <add key="IISLogsFolder" value="D:\logs\LogFiles"/>
    <add key="LogParserOutFolder" value="D:\logs\IIS\LogParserOutput"/>
   </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>